.main-about{
     width: 100%;
     height: auto;
     padding: 5%;
     background-color: rgb(228, 224, 224);
}


@media screen  and (min-width:320px) and (max-width:400px){
     .about-roll{
          width: 150px;
          height: 150px;
          border-radius: 50%;
          background-color: #58bfe7;
          float: right;
          margin: 10% 10% 5% 0%;
          
     }
     .about-img{
          width: 100%;
          margin-top: 10%;
          border-radius: 50%;
     }
     .about-box-set{
          width: 85%;
          height: auto;
          margin-left: 3%;
          margin-top: -35%;
          position: absolute;
          border-radius: 10px;
          background-color: rgb(228, 224, 224);
          padding: 3%;
     }
     
     .about-para{
          letter-spacing: 1px;
          word-spacing: 1px;
          font-style: italic;
     }
     .about-button{
          padding: 1.3% 8%;
          border-radius: 50px;
          font-size: 1.2rem;
          background-color: black;
          color: #fff;
          border: none;
          margin-bottom: 2%;
     }
     .about-three-box{
          margin-top: 40%;
     }
     .about-box{
          width: 100%;
          height: auto;
          margin: 10% 0;
          border-radius: 10px;
          background-color: #58bfe7;
          text-align: center;
          color: #fff;
          padding: 5%;
     }
     .about-head1{
          font-size: 50px;
     }
     .about-para1{
          letter-spacing: 1px;
          word-spacing: 1px;
          font-style: italic;
     }
}
@media screen  and (min-width:1200px){
     .about-roll{
          width: 200px;
          height: 200px;
          border-radius: 50%;
          background-color: #58bfe7;
          float: right;
          margin: 5% 10% 5% 0%;
     }
     .about-img{
          width: 35%;
          margin-top: 12%;
          border-radius: 10px;
          z-index: 2;
     }
     .about-box-set{
          width: 400px;
          height: auto;
          margin-left: 20%;
          margin-top: -15%;
          position: absolute;
          border-radius: 5px;
          background-color: rgb(228, 224, 224);
          padding: 2%;
     }
     
     .about-para{
          letter-spacing: 1px;
          word-spacing: 1px;
          font-style: italic;
     }
     .about-button{
          padding: 1.3% 8%;
          border-radius: 50px;
          font-size: 1.2rem;
          background-color: black;
          color: #fff;
          border: none;
          margin-bottom: 2%;
     }
     .about-three-box{
          display: flex;
          margin-top: 6%;
     }
     .about-box{
          width: 30%;
          height: auto;
          border-radius: 10px;
          margin: 2%;
          text-align: center;
          color: #fff;
          background-color: #58bfe7;
          padding: 1%;
     }
     .about-head1{
          font-size: 50px;
     }
     .about-para1{
          letter-spacing: 1px;
          word-spacing: 1px;
          font-style: italic;
     }
}